/*
*	Filename	:	default.css
*	Description	:	This is a set of css definitions.
*	Version		:	ver1.1
*	Date		:	12-12-2001
*	Author		:	bayugyug

Modification History:
2008.04.04  new class select.select with no width specified 
		(allows more character to display in select option list) by Ron Crabtree
*/

/* set default font for document - 'td' and 'th' must also be set due to a bug in IE */
address, blockquote, caption, center, dd, dir, div, dl, dt, form, li, menu, ol, pre, td, th, tr, ul
	{
	font: 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	}
p{
	font: 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-indent : 15pt;
}


hr     {
	   border : medium groove blue;
	}

body 
	{
	margin:0pt 0pt 0pt 0pt;	
   	margin-top: 10;
	margin-left: 0;
	}

table.mnu {
 border-collapse: collapse;
 border: 0pt;
 background-color:#E6FFE6; 
 list-style-type: disc;
 list-style-position: inside;
 border: outset #D1D1CD 1pt;

}
td.hdr {
 border-collapse: collapse;
 border: 0pt;
 background-color:white; 
 list-style-type: disc;
 list-style-position: inside;
 border: outset #D1D1CD 1pt;
}

td.date
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: transparent;
}

td.header {
 font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 background-color:  #339966;
 color: white;
 list-style-type: disc;
 list-style-position: inside;
 border: outset #D1D1CD 1pt;
}

td.header1 {
 font: bold 10pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 background-color: #339966;
 color: white;
 list-style-type: disc;
 list-style-position: inside;
 border: outset #D1D1CD 1pt;
}

td.header2 {
 margin-top: 2pt;
 font: bold 10pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 background-color: #339966;
 color: white;
 list-style-type: disc;
 list-style-position: inside;
 border: outset #D1D1CD 1pt;
}

td.color3 {
 color: #CC3300;
}

td.normalselect
	{
	font: normal 14pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

td.normal
	{
	font: normal 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
td.normalbold
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
td.bold
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

td.normaltax
	{
	font: normal 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

td.normaltax2
	{
	font: normal 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

td.boldselect
	{
	font: bold 16pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
}


a:link
	{
	font: bold  8pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 #ffffff;*/
	text-decoration: underline;
	background-color: transparent;
}

a:visited
	{
	font: bold  8pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #08245b; /*333366; #ffffff;*/
	text-decoration: underline;
	background-color: transparent;
	}

a:hover
	{
	font: bold 8pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #00ff00;
	text-decoration: underline;
	background-color: transparent;
	}

a:visited:hover
	{
	font: bold 8pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #00ff00;
	text-decoration: underline;
	background-color: transparent;
	}



.subnav
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	text-decoration: none;
	background-color: transparent;
}

a:link.subnav
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	text-decoration: none;
	background-color: transparent;
}

a:visited.subnav
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b;
	text-decoration: none;
	background-color: transparent;
}

a:hover.subnav
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
	background-color: transparent;

}

a:visited:hover.subnav
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
	background-color: transparent;

	}
	


.subnavwhite
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color : #0000ee;
	text-decoration: none;
	background-color: transparent;
}

a:link.subnavwhite
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color :  #08245b; /*links*/ 
	text-decoration: none;
	background-color: transparent;
}

a:visited.subnavwhite
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b;
	text-decoration: none;
	background-color: transparent;
}

a:hover.subnavwhite
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #0088ff;
	text-decoration: none;
	background-color: transparent;

}

a:visited:hover.subnavwhite
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #0088ff;
	text-decoration: none;
	background-color: transparent;

	}
	
.subnav2
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	text-decoration: none;
	background-color: transparent;
}

a:link.subnav2
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color :  #000000;
	text-decoration: none;
	background-color: transparent;
}

a:visited.subnav2
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	background-color: transparent;
}

a:hover.subnav2
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
	background-color: transparent;

}

a:visited:hover.subnav2
	{
	font: normal 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
	background-color: transparent;

	}

.footer
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 30pt;
	text-align: center;
	background-color: transparent;	
	}	
	
a:link.footer
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 #ffffff;*/
	margin-bottom: 30pt;
	text-align: center;
	background-color: transparent;	
	text-decoration: underline;		
	}

a:visited.footer
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 #ffffff;*/
	margin-bottom: 30pt;
	text-align: center;
	background-color: transparent;	
	text-decoration: underline;		
	}

a:hover.footer
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 /*#ffffff;*/
	margin-bottom: 30pt;
	text-align: center;
	background-color: transparent;
	text-decoration: underline overline;
	}

a:visited:hover.footer
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 /*#ffffff;*/
	margin-bottom: 30pt;
	text-align: center;
	background-color: transparent;				
	text-decoration: underline overline;
	}	
	
.title
	{
	font: bold 20pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #000000;
	}

.subtitle
	{
	font: bold 16pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #000000;
	}
						
em 
	{
	font-style: italic;
	}

strong 
	{
	font-weight: bold;
	}

ul{
	list-style-position: outside;
	list-style: square ;
	white-space: normal;
	}

li {
	list-style-position: inside;
	/*list-style: round;*/
	white-space: normal;
	}

li.subl1{
	list-style-position: inside;
	list-style: square;
	white-space: normal;
	text-indent: 35pt;
	}	

li.subl2{
	list-style-position: inside;
	list-style: square;
	white-space: normal;
	text-indent: 70pt;
	}
	
p.mainlogo{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #099B58;
	background-color: transparent;
	text-align: center;

}


ol 
	{
	list-style-type: decimal;
	list-style-position: outside
	}

table.sub {
 margin: 2pt 4pt 2pt 4pt;
 font: 10pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 border: outset #D1D1CD 1pt;
}

table.sub th{
 font: bold 8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 background-color: lightgray;
 text-align: center;
}
.search 
	{
	width: 95pt
	}
				
.ahem	
	{
	display:	none;
	}	

td.titleblue
	{
	font: bold 16pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #6FCDF9;
}
td.subtitleblue
	{
	font: bold  12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#202366;
	background-color: #c0c0c0;
}

sup.suptitle{
	font: normal  8pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
td.title
	{
	font: bold 24pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: transparent;
}

td.title2
{
	font: normal 8pt "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: transparent;
}
td.taxtitlegray
	{
	font: bold 11pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #c0c0c0;
}

td.normalgray
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #c0c0c0;
}

td.normalwhite
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 /*#ffffff;*/
	background-color: transparent;
}
td.normalred
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	background-color: transparent;
}
td.subtitle
	{
	font: bold 14pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: transparent;
}
select.select{
	  height:17pt;
	  line-height: normal;
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}
select.select300{
	  height:17pt;
	  line-height: normal;
	  width:300; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}
select.select200Multi{
	  height:80pt;
	  line-height: normal;
	  width:200; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}
select.select200{
	  height:17pt;
	  line-height: normal;
	  width:200; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}
select.select100{
	  height:17pt;
	  line-height: normal;
	  width:120; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	} 	
input.text180{
	  height:17pt;
	  line-height: normal;
	  width:200; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
}
input.text100{
          height:17pt;
          line-height: normal;
          width:100;
          font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
          color:#000000;
}
input.text120{
	  height:20pt;
	  line-height: normal;
	  width:80; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
}

input.file200{
	  height:20pt;
	  line-height: normal;
	  width:280; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}	
 	
input.text100{
	  height:20pt;
	  line-height: normal;
	  width:150; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}
 input.text80{
	  height:20pt;
	  line-height: normal;
	  width:100; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}	
input.button100{
	  height:20pt;
	  line-height: normal;
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
	  background-color: #ffffff;
 	}	

textarea.txtarea180{
	  height:120pt;
	  width:220; 
	  font: normal 9pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; 
	  color:#000000;
 	}	
	 
td.subtitleblue_schedule
	{
	font: bold  12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align: right;
	background-color: #000099;
}

td.schedule_record1
	{
	font: bold  8pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: right;
	background-color: #FFFFFF;
}

td.schedule_record2
	{
	font: bold  8pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: right;
	background-color: #C0C0C0;
}

td.record_list_title
	{
	font: bold  12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align: right;
	background-color: #000099;
}

td.record_list_row1
	{
	font: bold  8pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: right;
	background-color: #FFFFFF;
}

td.record_list_row2
	{
	font: bold  11pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: right;
	background-color: #C0C0C0;
}

font.paging_font
	{
	font: 11pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: center;
	color: #FF0000;
}

font.def_label
        {
        font: 8pt "Trebuchet MS",Arial, Helvetica, sans-serif;
        color: Red;
}

font.paging_font_selected 
	{
	font: bold 11pt "Trebuchet MS",Arial, Helvetica, sans-serif;	
	text-align: center;
	color: #000000;	
}

td.search_result_record
	{
	font: 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #CCCCCC;
}

td.search_result_record2
	{
	font: 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}

td.search_result_header
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-align: center;
	background-color: #000000;
}

font.search_result_header_font
	{
	font: bold 13pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: underline;
	color: #FFEEDD;
}

font.search_command
	{
	font: bold 12pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	text-align: center;	
	color: #FF0000;	
}
td.error
	{
	font: bold 15pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	text-align: center;	
	color: #FF0000;	
}

font.error
	{
	font: bold 15pt "Trebuchet MS",Arial, Helvetica, sans-serif;
	text-align: center;	
	color: #FF0000;	
}

th.range_header
	{
	font: bold 12pt "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color: #08245b; /*333366 /*#ffffff;		*/
	background-color: #CC9900;
}

font.total_amount1
	{
	font: bold 8pt "Trebuchet MS",Verdana, Arial, sans-serif;
	text-align: right;
	color: blue;
}




