<!-- start of CTC formating //-->
<table border=0 cellspacing=0 cellpadding=0 width='100%'>
<tr>
	<td align="center" valign="top">
		<table border=0 cellspacing=1 cellpadding=0  width="100%" bgcolor='#202366'>
			<tr>
				<td align="center" valign="center"  bgcolor='#ffffff' width=240 class='normaltax' colspan=2>COMMUNITY TAX CERTIFICATE</td>
			        <td align="center" valign="center"  bgcolor='#ffffff' width=100 class='normalgray'>BUSINESS</td>
				<td align="center" valign="center" width=180 height=20  bgcolor='#ffffff' class='normaltax'><B>[ctc_code]</b></td>
			</tr>
			<tr>
				<td align="center" valign="top"  bgcolor='#ffffff' width=10% align=center><pre><sup class='suptitle'>YEAR</sup><BR><font class=ctc_year>[FOR_YEAR]</font></pre></td>
				<td align="center" valign="top"  bgcolor='#ffffff' width=35% ><sup class='suptitle'>PLACE OF ISSUE ( City / Mun / Prov )<BR><font class=ctc_place_issued>[PLACE_ISSUED]</font></td>
				<td align="center" valign="top"  bgcolor='#ffffff' width=35% ><pre><sup class='suptitle'>DATE ISSUED</sup><BR><font class=ctc_item>[DATE]</font></pre></td>
				<td align="center" valign="top" width=20% height=20  bgcolor='#ffffff' class='normaltax'>TAX PAYER'S COPY</td>
			</tr>
			<tr>




				<td align="center" valign="top"  bgcolor='#ffffff' width="85%" align=center colspan=3>
					<table width="100%" border=0 cellpadding=2 >
					<tr>
						<td>COMPANY'S FULLNAME</td>
					<tr>
						<td><font class=ctc_item>[ctc_company]</font></td>
					</tr>
					</table>
				</td>


				<td align="" valign="top"  bgcolor='#ffffff' width=190 ><sup class='suptitle'>&nbsp;TIN IF ANY<BR>&nbsp;&nbsp;<font class=ctc_item>[ctc_tin_no]</font></td>
			</tr>
			<tr>
				<td align="" valign="top"  bgcolor='#ffffff' width="70%" align=center colspan=3>
				&nbsp;ADDRESS OF PRINCIPAL PLACE OF BUSINESS
				<BR>
				&nbsp;<font class=ctc_item>[ctc_company_address]</font>
				</td>
				<td align="" valign="top"  bgcolor='#ffffff' width=190 ><sup class='suptitle'>&nbsp;DATE OF REG./INCORPORATION<BR>&nbsp;&nbsp;<font class=ctc_item>[ctc_incorporation_date]</font>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		<table border=0 cellspacing=1 cellpadding=5  width="100%" bgcolor='#202366'>
			<tr>
				<td align="" valign="middle" bgcolor='#ffffff' class='normaltax'>KIND OF ORGANIZATION<BR><font class=ctc_item>[ctc_organization_type]</font>
				</td>
			        <td align="" colspan=3 valign="center" bgcolor='#ffffff' class='normaltax'>PLACE OF INCORPORATION<BR><font class=ctc_item>[ctc_place_of_incorporation]</font></td>
			</tr>
			<tr>
				<td align="" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2>KIND /  NATURE OF BUSINESS<BR><font class=ctc_item>[ctc_business_nature]</font></td>
			        <td align="center" valign="center"  bgcolor='#ffffff' class='normaltax'>TAXABLE AMOUNT</td>
			        <td align="center" valign="center"  bgcolor='#ffffff' class='normaltax'>COMMUNITY TAX DUE</td>
			</tr>
			<tr>
				<td align="" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2>A. BASIC COMMUNITY TAX (Php500.00)  </td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_basic_tax]</font></td>
			</tr>
			<tr>
				<td align="" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2>B. ADDITIONAL COMMUNITY TAX ( tax not to exceed Php10,000.00) </td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'></td>
			</tr>
			<tr>
				<td align="" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2>1  ASSESSED VALUE OF REAL PROPERTY OWNED IN THE PHILIPPINES (Php2.00 for every Php5,000.00)</td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_additional_tax1]</font></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_additional_tax1_due]</font></td>
			</tr>
			<tr>
				<td align="" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2>2  GROSS RECEIPTS INCLUDING DIVIDENDS/EARNINGS DERIVED FROM BUSINESS IN THE PHIL DURING THE PRECEDING YEAR (Php2.00 for every Php5,000.00)</td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_additional_tax2]</font></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_additional_tax2_due]</font></td>
			</tr>
			<tr>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2 rowspan=2><!--<BR>------------------------------------------<BR>Tax Payer's Signature<BR><BR>--></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'>TOTAL(Php)</td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_total_amount_due]</font></td>
			</tr>
			<tr>

			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'>Interest(Php)</td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_total_interest_due]</font></td>
			</tr>
			<tr>

			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax' colspan=2><!--<BR>------------------------------------------<BR>Municipal / City Treasurer<BR><BR>--></td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'>Total Amount Paid(Php)</td>
			        <td align="right" valign="center"  bgcolor='#ffffff' class='normaltax'><font class=ctc_item>[ctc_total_paid]</font></td>
			</tr>

		</table>
	</td>
</tr>
</table>
<!--// end of the formating CTC //-->
