<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>Occupational Permit</title>
</head>
<body>
<table cellpadding="2" cellspacing="2" border="0"
 style="text-align: left; width: 100%;">
  <tbody>
    <tr align="center">
      <td style="vertical-align: top;">Republic of the Philippines<br>
      <br>
      <br>
      <br>
      </td>
    </tr>
    <tr align="center">
      <td style="vertical-align: top;">OFFICE OF THE CITY MAYOR<br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table cellpadding="2" cellspacing="2" border="1"
 style="text-align: left; width: 144px; height: 144px; margin-left: auto; margin-right: 0px;">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><br>
      <br>
      <br>
      <div style="text-align: center;">2x2 Picture<br>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<div style="text-align: right;">Permit No.:__________________<br>
<br>
<br>
<div style="text-align: center;"><font size="+2"
 style="font-weight: bold;">OCCUPATIONAL PERMIT<br>
<br>
</font>
<div style="text-align: left; margin-left: 40px;"><big>Permit is hereby
granted to Mr./Ms.<span
 style="text-decoration: underline; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>whose name and picture appearing at the upper rightmost corner
to engage in his/her occupation as a/an <span
 style="font-weight: bold;"><span style="text-decoration: underline;">&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span></span>at <span
 style="text-decoration: underline;"><span style="font-weight: bold;">&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span
 style="font-weight: bold;"><span style="text-decoration: underline;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp;&nbsp; </span></span></span></span>.<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; (Business Establishment)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Business Address)<br>
<br>
_______ for the year ______ with all the rights, privileges and
immunities there unto appertaining subject to the provision of the
Revised Tax Code of _____, laws, ordinance and other regulation
pertinent thereof.<br>
<br>
<br>
<br>
</big>
<div style="text-align: right;">___________________________<big><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
City Mayor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
<br>
</big>
<div style="text-align: left;"><big>Note:<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; This permit shall however be to
revocation or cancellation should public interest do demand and should
be presented for Inspection upon demand.<br>
<br>
</big>
<table cellpadding="2" cellspacing="2" border="0"
 style="text-align: left; height: 88px; width: 167px;">
  <tbody>
    <tr>
      <td
 style="vertical-align: top; height: 50%; width: 50px; text-align: left;">Amount
Paid:<br>
      </td>
      <td style="vertical-align: top; height: 50%; width: 50px;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: left;">O.R. Number:<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: left;">Date:<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>
<big>&nbsp;&nbsp;</big>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<big><span style="font-weight: bold;"><span
 style="text-decoration: underline;"></span></span></big></div>
</div>
</div>
<div style="text-align: left;"><br>
</div>
</div>
</div>
</body>
</html>
